Source: parlatype
Section: gnome
Priority: optional
Maintainer: Gabor Karsay <gabor.karsay@gmx.at>
Build-Depends: debhelper (>= 9),
	       dh-autoreconf,
               intltool (>= 0.50.2),
               libxml2-utils,
	       libgtk-3-dev (>= 3.10.0),
	       libgstreamer1.0-dev,
               yelp-tools
Standards-Version: 3.9.6
Homepage: https://github.com/gkarsay/parlatype

Package: parlatype
Architecture: any
Depends: gstreamer1.0-plugins-good,
	 ${shlibs:Depends},
	 ${misc:Depends}
Description: Minimal audio player for manual speech transcription
 Plays audio sources to transcribe them in your favourite text application.
 Speed of playback can be changed without changing the pitch and on pause it
 will rewind for a few seconds according to your preferences. Parlatype can be
 controlled with the "Play" button from your keyboard even if its window is not
 focused.

Package: parlatype-libreoffice-helpers
Architecture: all
Depends: libreoffice-script-provider-python,
	 parlatype,
	 ${misc:Depends}
Description: Set of macros for LibreOffice
 Controls Parlatype from within LibreOffice. The most important ones are to
 insert time stamps into the document and to jump to that position in Parlatype.
 Also adds a help page to Parlatype itself.
